In [1]:
import pandas as pd

In [2]:
# Import our  dataset
emission_df = pd.read_csv("data/ml_database.csv")
emission_df.head()

,Facility Id,State,industry_type,year,total_direct_emissions,state_population,state_gdp_per_capita,state_policies_incentives,USDA_energy_invest_unit,USDA_energy_invest_$,%Renewables
0,1004377,TX,Waste Management and Remediation Services,2016,221014.750,27914064,58033.62062,140,176,83600842.01,13.4
1,1003188,TX,Plastics and Rubber Products Manufacturing,2016,31773.480,27914064,58033.62062,140,176,83600842.01,13.4
2,1007733,TX,Utilities,2016,22362.816,27914064,58033.62062,140,176,83600842.01,13.4
3,1002685,TX,Oil and Gas Extraction,2016,265377.770,27914064,58033.62062,140,176,83600842.01,13.4
4,1005601,TX,Nonmetallic Mineral Product Manufacturing,2016,55858.240,27914064,58033.62062,140,176,83600842.01,13.4

In [3]:
emission_df = emission_df.drop(columns = ['year'])

In [4]:
emission_df = emission_df[emission_df["State"].str.contains("TX|LA|CA|PA|OH|IL|MI|NY|FL|OK")==True]
emission_df.head()

,Facility Id,State,industry_type,total_direct_emissions,state_population,state_gdp_per_capita,state_policies_incentives,USDA_energy_invest_unit,USDA_energy_invest_$,%Renewables
0,1004377,TX,Waste Management and Remediation Services,221014.750,27914064,58033.62062,140,176,83600842.01,13.4
1,1003188,TX,Plastics and Rubber Products Manufacturing,31773.480,27914064,58033.62062,140,176,83600842.01,13.4
2,1007733,TX,Utilities,22362.816,27914064,58033.62062,140,176,83600842.01,13.4
3,1002685,TX,Oil and Gas Extraction,265377.770,27914064,58033.62062,140,176,83600842.01,13.4
4,1005601,TX,Nonmetallic Mineral Product Manufacturing,55858.240,27914064,58033.62062,140,176,83600842.01,13.4

In [5]:
print(sum(emission_df.State.value_counts()))

15641

In [6]:
emission_df.to_csv('data/ml_database2.csv')