In [1]:
import pandas as pd

In [3]:
# Load the dataset
file = ("carbon_emission_analysis\ghgp_data_2020.csv")
GHG_2020_df = pd.read_csv(file, low_memory=False, thousands=',')

In [4]:
print(GHG_2020_df.columns)

Index(['Facility Id', 'FRS Id', 'Facility Name', 'City', 'State', 'Zip Code',
       'Address', 'County', 'Latitude', 'Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)', 'Industry Type (sectors)',
       'Total reported direct emissions', 'CO2 emissions (non-biogenic) ',
       'Methane (CH4) emissions ', 'Nitrous Oxide (N2O) emissions ',
       'HFC emissions', 'PFC emissions', 'SF6 emissions ', 'NF3 emissions',
       'Other Fully Fluorinated GHG emissions', 'HFE emissions',
       'Very Short-lived Compounds emissions', 'Other GHGs (metric tons CO2e)',
       'Biogenic CO2 emissions (metric tons)', 'Stationary Combustion',
       'Electricity Generation', 'Adipic Acid Production',
       'Aluminum Production', 'Ammonia Manufacturing', 'Cement Production',
       'Electronics Manufacture', 'Ferroalloy Production',
       'Fluorinated GHG Production', 'Glass Production',
       'HCFC�22 Production from HFC�23 Destruction', 'Hydrogen Production',
       'Iron and Steel Production', 'Lead Production', 'Lime Production',
       'Magnesium Production', 'Miscellaneous Use of Carbonates',
       'Nitric Acid Production',
       'Petroleum and Natural Gas Systems � Offshore Production',
       'Petroleum and Natural Gas Systems � Processing',
       'Petroleum and Natural Gas Systems � Transmission/Compression',
       'Petroleum and Natural Gas Systems � Underground Storage',
       'Petroleum and Natural Gas Systems � LNG Storage',
       'Petroleum and Natural Gas Systems � LNG Import/Export',
       'Petrochemical Production', 'Petroleum Refining',
       'Phosphoric Acid Production', 'Pulp and Paper Manufacturing',
       'Silicon Carbide Production', 'Soda Ash Manufacturing',
       'Titanium Dioxide Production', 'Underground Coal Mines',
       'Zinc Production', 'Municipal Landfills',
       'Industrial Wastewater Treatment',
       'Manufacture of Electric Transmission and Distribution Equipment',
       'Industrial Waste Landfills',
       'Is some CO2 collected on-site and used to manufacture other products and therefore not emitted from the affected manufacturing process unit(s)? (as reported under Subpart G or S)',
       'Is some CO2 reported as emissions from the affected manufacturing process unit(s) under Subpart AA, G or P collected and transferred off-site or injected (as reported under Subpart PP)?',
       'Does the facility employ continuous emissions monitoring? ',
       'Unnamed: 66'],
      dtype='object')

In [5]:
# Select the columns to keep for the analysis
GHG_2020_df = GHG_2020_df[['Facility Id', 'Facility Name', 'State', 
                           'Latitude', 'Longitude', 
                           'Primary NAICS Code', 'Industry Type (sectors)', 
                           'Total reported direct emissions', 'CO2 emissions (non-biogenic) ']]

In [6]:
# Check the column data type
GHG_2020_df.dtypes

Facility Id                        float64
Facility Name                       object
State                               object
Latitude                           float64
Longitude                          float64
Primary NAICS Code                 float64
Industry Type (sectors)             object
Total reported direct emissions    float64
CO2 emissions (non-biogenic)       float64
dtype: object

In [7]:
# Remove the null value
GHG_2020_df.isnull()

,Facility Id,Facility Name,State,Latitude,Longitude,Primary NAICS Code,Industry Type (sectors),Total reported direct emissions,CO2 emissions (non-biogenic)
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
15381,True,True,True,True,True,True,True,True,True
15382,True,True,True,True,True,True,True,True,True
15383,True,True,True,True,True,True,True,True,True
15384,True,True,True,True,True,True,True,True,True
15385,True,True,True,True,True,True,True,True,True

In [8]:
GHG_2020_df.dropna(inplace=True)

In [20]:
GHG_2020_df = GHG_2020_df.rename(columns = {"Facility Id": "Fac_ID",
                                           "Facility Name": "Fac_Name",
                                           "Primary NAICS Code": "NAICS",
                                           "Industry Type (sectors)": "Sector",
                                           "Total reported direct emissions": "Total_Emissions",
                                           "CO2 emissions (non-biogenic) ": "CO2_Emissions"})

In [21]:
GHG_2020_df['Fac_ID'] = GHG_2020_df['Fac_ID'].astype(int)
GHG_2020_df['NAICS'] = GHG_2020_df['NAICS'].astype(int)
GHG_2020_df.head(5)

,Fac_ID,Fac_Name,State,Latitude,Longitude,NAICS,Sector,Total_Emissions,CO2_Emissions
1,1000112,23rd and 3rd,NY,40.66,-74.00,221112,Power Plants,60819.70,60751.2
2,1013621,3Bear Libby Gas Plant,NM,32.54,-103.52,211130,Petroleum and Natural Gas Systems,40521.81,39555.5
3,1003742,31st Street Landfill,IL,41.84,-87.92,562212,Waste,100500.95,334.9
4,1003188,3M BROWNWOOD,TX,31.67,-99.00,326113,Minerals,29359.64,29329.5
5,1005043,3M CO,MN,44.95,-93.00,541715,Other,82308.24,82223.0

In [19]:
GHG_2020_df.to_csv("GHG_2020.csv", index = False, header = True)