In [2]:
import pandas as pd

In [3]:
# Load the dataset
file = ("carbon_emission_analysis\GHG_direct_emitters2020.csv")
GHG_2020_df = pd.read_csv(file, low_memory=False)

In [4]:
print(GHG_2020_df.columns)

Index(['Facility Id', 'FRS Id', 'Facility Name', 'City', 'State', 'Zip Code',
       'Address', 'County', 'Latitude', 'Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)', 'Industry Type (sectors)',
       'Total reported direct emissions', 'CO2 emissions (non-biogenic) ',
       'Methane (CH4) emissions ', 'Nitrous Oxide (N2O) emissions ',
       'HFC emissions', 'PFC emissions', 'SF6 emissions ', 'NF3 emissions',
       'Other Fully Fluorinated GHG emissions', 'HFE emissions',
       'Very Short-lived Compounds emissions', 'Other GHGs (metric tons CO2e)',
       'Biogenic CO2 emissions (metric tons)', 'Stationary Combustion',
       'Electricity Generation', 'Adipic Acid Production',
       'Aluminum Production', 'Ammonia Manufacturing', 'Cement Production',
       'Electronics Manufacture', 'Ferroalloy Production',
       'Fluorinated GHG Production', 'Glass Production',
       'HCFC�22 Production from HFC�23 Destruction', 'Hydrogen Production',
       'Iron and Steel Production', 'Lead Production', 'Lime Production',
       'Magnesium Production', 'Miscellaneous Use of Carbonates',
       'Nitric Acid Production',
       'Petroleum and Natural Gas Systems � Offshore Production',
       'Petroleum and Natural Gas Systems � Processing',
       'Petroleum and Natural Gas Systems � Transmission/Compression',
       'Petroleum and Natural Gas Systems � Underground Storage',
       'Petroleum and Natural Gas Systems � LNG Storage',
       'Petroleum and Natural Gas Systems � LNG Import/Export',
       'Petrochemical Production', 'Petroleum Refining',
       'Phosphoric Acid Production', 'Pulp and Paper Manufacturing',
       'Silicon Carbide Production', 'Soda Ash Manufacturing',
       'Titanium Dioxide Production', 'Underground Coal Mines',
       'Zinc Production', 'Municipal Landfills',
       'Industrial Wastewater Treatment',
       'Manufacture of Electric Transmission and Distribution Equipment',
       'Industrial Waste Landfills',
       'Is some CO2 collected on-site and used to manufacture other products and therefore not emitted from the affected manufacturing process unit(s)? (as reported under Subpart G or S)',
       'Is some CO2 reported as emissions from the affected manufacturing process unit(s) under Subpart AA, G or P collected and transferred off-site or injected (as reported under Subpart PP)?',
       'Does the facility employ continuous emissions monitoring? '],
      dtype='object')

In [6]:
# Select the columns to keep for the analysis
GHG_2020_df = GHG_2020_df[['Facility Id', 'Facility Name', 'State', 
                           'Latitude', 'Longitude', 
                           'Primary NAICS Code', 'Industry Type (sectors)', 
                           'Total reported direct emissions', 'CO2 emissions (non-biogenic) ']]

In [7]:
# Check the column data type
GHG_2020_df.dtypes

Facility Id                          int64
Facility Name                       object
State                               object
Latitude                           float64
Longitude                          float64
Primary NAICS Code                   int64
Industry Type (sectors)             object
Total reported direct emissions     object
CO2 emissions (non-biogenic)        object
dtype: object

In [8]:
# Remove the null value
GHG_2020_df.isnull()

,Facility Id,Facility Name,State,Latitude,Longitude,Primary NAICS Code,Industry Type (sectors),Total reported direct emissions,CO2 emissions (non-biogenic)
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
6510,False,False,False,False,False,False,False,False,False
6511,False,False,False,False,False,False,False,False,False
6512,False,False,False,False,False,False,False,False,False
6513,False,False,False,False,False,False,False,False,False
6514,False,False,False,False,False,False,False,False,False

In [9]:
GHG_2020_df.dropna()

,Facility Id,Facility Name,State,Latitude,Longitude,Primary NAICS Code,Industry Type (sectors),Total reported direct emissions,CO2 emissions (non-biogenic)
1,1000112,23rd and 3rd,NY,40.66,-74.00,221112,Power Plants,"60,819.70","60,751.20"
2,1013621,3Bear Libby Gas Plant,NM,32.54,-103.52,211130,Petroleum and Natural Gas Systems,"40,521.81","39,555.50"
3,1003742,31st Street Landfill,IL,41.84,-87.92,562212,Waste,"100,500.95",334.9
4,1003188,3M BROWNWOOD,TX,31.67,-99.00,326113,Minerals,"29,359.64","29,329.50"
5,1005043,3M CO,MN,44.95,-93.00,541715,Other,"82,308.24","82,223.00"
...,...,...,...,...,...,...,...,...,...
6510,1010592,Zider,TX,31.80,-94.18,486210,Petroleum and Natural Gas Systems,"22,359.12","22,350.20"
6511,1000805,Zion Energy Center,IL,42.48,-87.90,221112,Power Plants,"325,679.42","325,344.10"
6512,1001464,Zuni,CO,39.74,-105.02,221330,Power Plants,0,0
6513,1012625,voestalpine Texas LLC,TX,27.89,-97.28,331110,Metals,"650,907.10","650,879.70"
6514,1011696,white oak landfill,NC,35.66,-83.00,562212,Waste,"89,476.75",0

In [12]:
GHG_2020_df = GHG_2020_df.rename(columns = {"Facility Id": "Fac_ID",
                                           "Facility Name": "Fac_Name",
                                           "Primary NAICS Code": "NAICS",
                                           "Industry Type (sectors)": "Sector",
                                           "Total reported direct emissions": "Total_Emissions",
                                           "CO2 emissions (non-biogenic) ": "CO2_Emissions"})
GHG_2020_df.head(8)

,Fac_ID,Fac_Name,State,Latitude,Longitude,NAICS,Sector,Total_Emissions,CO2_Emissions
0,1004377,121 REGIONAL DISPOSAL FACILITY,TX,33.30,-96.54,562212,Waste,"504,064.00",NaN
1,1000112,23rd and 3rd,NY,40.66,-74.00,221112,Power Plants,"60,819.70","60,751.20"
2,1013621,3Bear Libby Gas Plant,NM,32.54,-103.52,211130,Petroleum and Natural Gas Systems,"40,521.81","39,555.50"
3,1003742,31st Street Landfill,IL,41.84,-87.92,562212,Waste,"100,500.95",334.9
4,1003188,3M BROWNWOOD,TX,31.67,-99.00,326113,Minerals,"29,359.64","29,329.50"
5,1005043,3M CO,MN,44.95,-93.00,541715,Other,"82,308.24","82,223.00"
6,1012037,50 Buttes Gas Plant,WY,43.76,-105.79,213112,Petroleum and Natural Gas Systems,"72,243.54","70,339.70"
7,1003739,3M CO - GUIN,AL,33.97,-87.90,326113,Minerals,"27,083.00","27,055.60"

In [ ]:
GHG_2020_df.to_csv("GHG_2020.csv", index = 'False', header = 'True')