In [2]:
#  Import and read the excel file.
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
read_file = pd.read_excel('Resources/ghgp_data_2020.xlsx', sheet_name='Direct Emitters',header =3)
emission_df = pd.DataFrame(read_file, columns=["Facility Id",
                                               "Facility Name",
                                               "State",
                                               "Latitude", 
                                               "Longitude", 
                                               "Primary NAICS Code", 
                                               "Industry Type (sectors)" , 
                                               "CO2 emissions (non-biogenic) "])
emission_df.head()

,Facility Id,Facility Name,State,Latitude,Longitude,Primary NAICS Code,Industry Type (sectors),CO2 emissions (non-biogenic)
0,1004377,121 REGIONAL DISPOSAL FACILITY,TX,33.298570,-96.535860,562212,Waste,NaN
1,1000112,23rd and 3rd,NY,40.663000,-74.000000,221112,Power Plants,60751.2
2,1013621,3Bear Libby Gas Plant,NM,32.540693,-103.522351,211130,Petroleum and Natural Gas Systems,39555.5
3,1003742,31st Street Landfill,IL,41.835129,-87.915924,562212,Waste,334.9
4,1003188,3M BROWNWOOD,TX,31.671177,-98.996513,326113,Minerals,29329.5

In [3]:
emission_df.dropna(inplace=True)
print(emission_df.shape)

(5858, 8)

In [4]:
emission_df.dtypes

Facility Id                        int64
Facility Name                     object
State                             object
Latitude                         float64
Longitude                        float64
Primary NAICS Code                 int64
Industry Type (sectors)           object
CO2 emissions (non-biogenic)     float64
dtype: object

In [4]:
emission_df.to_csv('data/clean_data.csv')