# Direct Emitters

In [22]:
#  Import and read the excel file.
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
read_file = pd.read_excel('Resources/ghgp_data_by_year.xlsx', sheet_name='Direct Emitters', header = 3)
de_df = pd.DataFrame(read_file, columns=["Facility Id",
                                         "Primary NAICS Code", 
                                         "Latest Reported Industry Type (sectors)" , 
                                         "2020 Total reported direct emissions",
                                         "2019 Total reported direct emissions",
                                         "2018 Total reported direct emissions",
                                         "2017 Total reported direct emissions",
                                         "2016 Total reported direct emissions",
                                         "2015 Total reported direct emissions",
                                         "2014 Total reported direct emissions",
                                         "2013 Total reported direct emissions",
                                         "2012 Total reported direct emissions",
                                         "2011 Total reported direct emissions"])
de_df.dropna(inplace=True)
de_df.head()

,Facility Id,Primary NAICS Code,Latest Reported Industry Type (sectors),2020 Total reported direct emissions,2019 Total reported direct emissions,2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
0,1004377,562212,Waste,504064.000,518680.250,653854.000,250497.500,221014.750,199011.750,241883.500,289953.250,204000.000,194000.000
4,1000112,221112,Power Plants,60819.700,44658.384,70705.288,52698.656,66797.352,67399.252,40722.200,102599.220,68984.744,100591.828
8,1003742,562212,Waste,100500.948,18925.400,31220.150,29026.800,120657.600,92696.600,120707.350,97467.500,87357.750,95113.250
12,1003188,326113,Minerals,29359.640,30571.636,34432.420,36202.264,31773.480,36754.712,36419.864,34821.820,33671.924,37149.360
13,1005043,541715,Other,82308.238,106258.176,104995.534,76595.410,79174.000,79440.076,81855.400,80335.194,72407.026,76373.372

In [23]:
print(de_df.shape)

(5292, 13)

In [24]:
de_df.dtypes

Facility Id                                  int64
Primary NAICS Code                           int64
Latest Reported Industry Type (sectors)     object
2020 Total reported direct emissions       float64
2019 Total reported direct emissions       float64
2018 Total reported direct emissions       float64
2017 Total reported direct emissions       float64
2016 Total reported direct emissions       float64
2015 Total reported direct emissions       float64
2014 Total reported direct emissions       float64
2013 Total reported direct emissions       float64
2012 Total reported direct emissions       float64
2011 Total reported direct emissions       float64
dtype: object

In [25]:
# de_df.tocsv('data/clean_de.csv')

# Onshore Oil & Gas Prod.

In [26]:
read_file = pd.read_excel('Resources/ghgp_data_by_year.xlsx', sheet_name='Onshore Oil & Gas Prod.', header = 3)
oogp_df = pd.DataFrame(read_file, columns=["Facility Id",
                                         "2020 Total reported emissions from Onshore Oil & Gas Production ", 
                                         "2019 Total reported emissions from Onshore Oil & Gas Production " , 
                                         "2018 Total reported emissions from Onshore Oil & Gas Production ",
                                         "2017 Total reported emissions from Onshore Oil & Gas Production ",
                                         "2016 Total reported emissions from Onshore Oil & Gas Production ",
                                         "2015 Total reported emissions from Onshore Oil & Gas Production ",
                                         "2014 Total reported emissions from Onshore Oil & Gas Production ",
                                         "2013 Total reported emissions from Onshore Oil & Gas Production ",
                                         "2012 Total reported emissions from Onshore Oil & Gas Production ",
                                         "2011 Total reported emissions from Onshore Oil & Gas Production "])
oogp_df.dropna(inplace=True)
oogp_df.head()

,Facility Id,2020 Total reported emissions from Onshore Oil & Gas Production,2019 Total reported emissions from Onshore Oil & Gas Production,2018 Total reported emissions from Onshore Oil & Gas Production,2017 Total reported emissions from Onshore Oil & Gas Production,2016 Total reported emissions from Onshore Oil & Gas Production,2015 Total reported emissions from Onshore Oil & Gas Production,2014 Total reported emissions from Onshore Oil & Gas Production,2013 Total reported emissions from Onshore Oil & Gas Production,2012 Total reported emissions from Onshore Oil & Gas Production,2011 Total reported emissions from Onshore Oil & Gas Production
0,1000355,293919.042,330937.720,273069.722,242958.734,261382.840,354850.700,243116.642,163013.800,151519.070,17728.250
2,1009238,586008.596,678933.080,811064.850,767413.320,808767.966,747874.260,171273.574,63896.146,94675.778,148424.596
6,1009170,23735.104,76941.042,97345.036,67155.314,43942.410,42528.246,52433.886,62617.866,34844.106,40809.110
14,1009265,124278.886,215964.304,253819.352,136681.234,311050.436,328260.992,258855.004,188100.356,206799.244,243416.194
16,1008287,319410.352,356909.018,447672.782,406376.586,252802.366,353194.722,381235.414,357671.756,396990.192,392734.616

In [49]:
print(oogp_df.shape)

(210, 11)

In [28]:
oogp_df.dtypes

Facility Id                                                           int64
2020 Total reported emissions from Onshore Oil & Gas Production     float64
2019 Total reported emissions from Onshore Oil & Gas Production     float64
2018 Total reported emissions from Onshore Oil & Gas Production     float64
2017 Total reported emissions from Onshore Oil & Gas Production     float64
2016 Total reported emissions from Onshore Oil & Gas Production     float64
2015 Total reported emissions from Onshore Oil & Gas Production     float64
2014 Total reported emissions from Onshore Oil & Gas Production     float64
2013 Total reported emissions from Onshore Oil & Gas Production     float64
2012 Total reported emissions from Onshore Oil & Gas Production     float64
2011 Total reported emissions from Onshore Oil & Gas Production     float64
dtype: object

In [29]:
# oogp_df.tocsv('data/clean_oogp.csv')

# Gathering & Boosting

In [30]:
read_file = pd.read_excel('Resources/ghgp_data_by_year.xlsx', sheet_name='Gathering & Boosting', header = 3)
gnb_df = pd.DataFrame(read_file, columns=["Facility Id",
                                         "2020 Total reported emissions from Gathering & Boosting ", 
                                         "2019 Total reported emissions from Gathering & Boosting " , 
                                         "2018 Total reported emissions from Gathering & Boosting ",
                                         "2017 Total reported emissions from Gathering & Boosting ",
                                         "2016 Total reported emissions from Gathering & Boosting "])
gnb_df.dropna(inplace=True)
gnb_df.head()

,Facility Id,2020 Total reported emissions from Gathering & Boosting,2019 Total reported emissions from Gathering & Boosting,2018 Total reported emissions from Gathering & Boosting,2017 Total reported emissions from Gathering & Boosting,2016 Total reported emissions from Gathering & Boosting
0,1012156,7459.590,9775.942,42127.186,46091.872,46921.114
4,1012353,121503.954,63401.000,36639.172,31431.578,49090.544
6,1012154,295654.184,295182.282,289504.116,296458.094,302681.248
7,1012251,140333.810,238400.620,249598.018,207744.756,244379.684
8,1012248,118770.000,124295.190,154761.892,145125.584,205637.636

In [32]:
print(gnb_df.shape)

(263, 6)

In [33]:
gnb_df.dtypes

Facility Id                                                   int64
2020 Total reported emissions from Gathering & Boosting     float64
2019 Total reported emissions from Gathering & Boosting     float64
2018 Total reported emissions from Gathering & Boosting     float64
2017 Total reported emissions from Gathering & Boosting     float64
2016 Total reported emissions from Gathering & Boosting     float64
dtype: object

In [34]:
# gnb_df.tocsv('data/clean_gnb.csv')

# Transmission Pipelines

In [36]:
read_file = pd.read_excel('Resources/ghgp_data_by_year.xlsx', sheet_name='Transmission Pipelines', header = 3)
tp_df = pd.DataFrame(read_file, columns=["Facility Id",
                                         "2020 Total reported direct emissions from Transmission Pipelines", 
                                         "2019 Total reported direct emissions from Transmission Pipelines" , 
                                         "2018 Total reported direct emissions from Transmission Pipelines",
                                         "2017 Total reported direct emissions from Transmission Pipelines",
                                         "2016 Total reported direct emissions from Transmission Pipelines"])
tp_df.dropna(inplace=True)
tp_df.head()

,Facility Id,2020 Total reported direct emissions from Transmission Pipelines,2019 Total reported direct emissions from Transmission Pipelines,2018 Total reported direct emissions from Transmission Pipelines,2017 Total reported direct emissions from Transmission Pipelines,2016 Total reported direct emissions from Transmission Pipelines
0,1012420,1036.700000,7735.400000,717.300000,10773.150000,1264.250000
1,1012420,337.400000,3347.650000,23.000000,264.550000,7515.450000
3,1012420,39.500000,4692.150000,7092.200000,1551.050000,24960.050000
6,1013856,84077.619496,112132.022704,204567.940066,146756.129584,115793.676329
20,1012139,18.411694,5813.273205,3140.966538,11012.495114,5261.786329

In [37]:
print(tp_df.shape)

(91, 6)

In [38]:
tp_df.dtypes

Facility Id                                                           int64
2020 Total reported direct emissions from Transmission Pipelines    float64
2019 Total reported direct emissions from Transmission Pipelines    float64
2018 Total reported direct emissions from Transmission Pipelines    float64
2017 Total reported direct emissions from Transmission Pipelines    float64
2016 Total reported direct emissions from Transmission Pipelines    float64
dtype: object

In [39]:
# tp_df.tocsv('data/clean_tp.csv')

# LDC - Direct Emissions

In [40]:
read_file = pd.read_excel('Resources/ghgp_data_by_year.xlsx', sheet_name='LDC - Direct Emissions', header = 3)
ldc_df = pd.DataFrame(read_file, columns=["Facility Id",
                                         "2020 Total reported direct emissions from Local Distribution Companies", 
                                         "2019 Total reported direct emissions from Local Distribution Companies" , 
                                         "2018 Total reported direct emissions from Local Distribution Companies",
                                         "2017 Total reported direct emissions from Local Distribution Companies",
                                         "2016 Total reported direct emissions from Local Distribution Companies",
                                         "2015 Total reported direct emissions from Local Distribution Companies",
                                         "2014 Total reported direct emissions from Local Distribution Companies",
                                         "2013 Total reported direct emissions from Local Distribution Companies",
                                         "2012 Total reported direct emissions from Local Distribution Companies",
                                         "2011 Total reported direct emissions from Local Distribution Companies"])
ldc_df.dropna(inplace=True)
ldc_df.head()

,Facility Id,2020 Total reported direct emissions from Local Distribution Companies,2019 Total reported direct emissions from Local Distribution Companies,2018 Total reported direct emissions from Local Distribution Companies,2017 Total reported direct emissions from Local Distribution Companies,2016 Total reported direct emissions from Local Distribution Companies,2015 Total reported direct emissions from Local Distribution Companies,2014 Total reported direct emissions from Local Distribution Companies,2013 Total reported direct emissions from Local Distribution Companies,2012 Total reported direct emissions from Local Distribution Companies,2011 Total reported direct emissions from Local Distribution Companies
0,1008026,74939.996,74762.846,99558.146,74961.100,73739.346,105051.594,75801.60,75662.2,75480.25,73414.44
1,1004034,14759.550,14674.950,13714.750,13668.500,13556.800,13459.200,13412.60,13353.6,13736.25,13271.75
4,1007872,165161.150,154525.296,156542.840,154795.438,151902.050,160923.894,155671.85,155513.8,191483.40,217658.90
5,1004794,17502.600,17942.600,17805.150,19464.150,24580.350,29139.350,18882.70,19471.9,19600.35,20646.10
6,1001388,24108.000,23137.650,22121.600,22788.750,16324.200,24407.150,16753.20,16375.6,16710.60,17343.65

In [44]:
print(ldc_df.shape)

(144, 11)

In [42]:
ldc_df.dtypes

Facility Id                                                           int64
2020 Total reported direct emissions from Transmission Pipelines    float64
2019 Total reported direct emissions from Transmission Pipelines    float64
2018 Total reported direct emissions from Transmission Pipelines    float64
2017 Total reported direct emissions from Transmission Pipelines    float64
2016 Total reported direct emissions from Transmission Pipelines    float64
dtype: object

In [43]:
# ldc_df.tocsv('data/clean_ldc.csv')

# SF6 from Elec. Equip.

In [45]:
read_file = pd.read_excel('Resources/ghgp_data_by_year.xlsx', sheet_name='SF6 from Elec. Equip.', header = 3)
sf6_df = pd.DataFrame(read_file, columns=["Facility Id",
                                         "2020 Total reported direct emissions from Electrical Equipment Use", 
                                         "2019 Total reported direct emissions from Electrical Equipment Use" , 
                                         "2018 Total reported direct emissions from Electrical Equipment Use",
                                         "2017 Total reported direct emissions from Electrical Equipment Use",
                                         "2016 Total reported direct emissions from Electrical Equipment Use",
                                         "2015 Total reported direct emissions from Electrical Equipment Use",
                                         "2014 Total reported direct emissions from Electrical Equipment Use",
                                         "2013 Total reported direct emissions from Electrical Equipment Use",
                                         "2012 Total reported direct emissions from Electrical Equipment Use",
                                         "2011 Total reported direct emissions from Electrical Equipment Use"])
sf6_df.dropna(inplace=True)
sf6_df.head()

,Facility Id,2020 Total reported direct emissions from Electrical Equipment Use,2019 Total reported direct emissions from Electrical Equipment Use,2018 Total reported direct emissions from Electrical Equipment Use,2017 Total reported direct emissions from Electrical Equipment Use,2016 Total reported direct emissions from Electrical Equipment Use,2015 Total reported direct emissions from Electrical Equipment Use,2014 Total reported direct emissions from Electrical Equipment Use,2013 Total reported direct emissions from Electrical Equipment Use,2012 Total reported direct emissions from Electrical Equipment Use,2011 Total reported direct emissions from Electrical Equipment Use
0,1003708,132693.72,172689.48,169844.04,197281.56,464030.16,148364.16,124825.44,134433.36,88826.52,123781.20
2,1010811,7644.84,8846.40,30171.24,9888.36,23251.44,10488.00,20241.84,28244.64,91298.04,11251.80
3,1010812,5264.52,10745.64,14706.00,20301.12,5180.16,5492.52,35928.24,13025.64,14322.96,31703.40
5,1010076,1810.32,2845.44,2152.32,1422.72,6037.44,2975.40,1876.44,7685.88,7986.84,6513.96
7,1009780,40777.80,9238.56,9482.52,14897.52,26454.84,54697.20,38876.28,14033.40,4190.64,36288.48

In [46]:
print(sf6_df.shape)

(63, 11)

In [47]:
sf6_df.dtypes

Facility Id                                                             int64
2020 Total reported direct emissions from Electrical Equipment Use    float64
2019 Total reported direct emissions from Electrical Equipment Use    float64
2018 Total reported direct emissions from Electrical Equipment Use    float64
2017 Total reported direct emissions from Electrical Equipment Use    float64
2016 Total reported direct emissions from Electrical Equipment Use    float64
2015 Total reported direct emissions from Electrical Equipment Use    float64
2014 Total reported direct emissions from Electrical Equipment Use    float64
2013 Total reported direct emissions from Electrical Equipment Use    float64
2012 Total reported direct emissions from Electrical Equipment Use    float64
2011 Total reported direct emissions from Electrical Equipment Use    float64
dtype: object

In [48]:
# sf6_df.tocsv('data/clean_sf6.csv')