In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Load USDA number of investments data
renewables_data = os.path.join(r'C:\Users\helen\Desktop\Berkeley boot camp\Datasets\carbon_emission_analysis\Historical data\Renewable_Electricity_prod_2016-2020.csv')
renewables_df = pd.read_csv(renewables_data)
renewables_df.head()

        State State abbreviation  2016  2017  2018  2019  2020
0     Alabama                AL    7.7   9.2   9.2  10.6  10.6
1      Alaska                 AK  32.6  33.3  33.3  25.0  25.0
2     Arizona                 AZ  10.7  11.8  11.8  10.6  10.6
3    Arkansas                 AR   8.0   8.8   8.8   7.0   7.0
4  California                 CA  40.3  47.2  47.2  49.6  49.6

In [3]:
# Load Emissions data
emission_data = os.path.join(r'C:\Users\helen\Desktop\Berkeley boot camp\Datasets\carbon_emission_analysis\Jupyter notebook\ml_database.csv')
emission_df = pd.read_csv(emission_data)
emission_df.head()

,Facility Id,State,industry_type,year,total_direct_emissions,population,gdp_per_capita,policies_incentives,USDA_number_invest_x,USDA_number_invest_y
0,1004377,TX,Waste Management and Remediation Services,2016,221014.750,27914064,58033.62062,140,176,83600842.01
1,1003188,TX,Plastics and Rubber Products Manufacturing,2016,31773.480,27914064,58033.62062,140,176,83600842.01
2,1007733,TX,Utilities,2016,22362.816,27914064,58033.62062,140,176,83600842.01
3,1002685,TX,Oil and Gas Extraction,2016,265377.770,27914064,58033.62062,140,176,83600842.01
4,1005601,TX,Nonmetallic Mineral Product Manufacturing,2016,55858.240,27914064,58033.62062,140,176,83600842.01

In [4]:
renewables_2016 = renewables_df[["State abbreviation","2016"]]
renewables_2016["year"]=2016
renewables_2016["%Renewables"] = renewables_2016.pop("2016")

renewables_2017 = renewables_df[["State abbreviation","2017"]]
renewables_2017["year"]=2017
renewables_2017["%Renewables"] = renewables_2017.pop("2017")

renewables_2018 = renewables_df[["State abbreviation","2018"]]
renewables_2018["year"]=2018
renewables_2018["%Renewables"] = renewables_2018.pop("2018")

renewables_2019 = renewables_df[["State abbreviation","2019"]]
renewables_2019["year"]=2019
renewables_2019["%Renewables"] = renewables_2019.pop("2019")

renewables_2020 = renewables_df[["State abbreviation","2020"]]
renewables_2020["year"]=2020
renewables_2020["%Renewables"] = renewables_2020.pop("2020")
renewables_2020.head()

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\helen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  State abbreviation  year  %Renewables
0                AL   2020         10.6
1                 AK  2020         25.0
2                 AZ  2020         10.6
3                 AR  2020          7.0
4                 CA  2020         49.6

In [5]:
renewables_df = pd.concat([renewables_2016,
                            renewables_2017,
                            renewables_2018,
                            renewables_2019,
                            renewables_2020
                           ],axis=0)
renewables_df.dropna()
renewables_df.tail()

   State abbreviation  year  %Renewables
45                 VA  2020          5.9
46                 WA  2020         71.5
47                 WV  2020          5.5
48                 WI  2020          8.1
49                 WY  2020         12.4

In [6]:
renewables_df = renewables_df.rename(columns = {"State abbreviation" : "State"})
renewables_df

   State  year  %Renewables
0    AL   2016          7.7
1     AK  2016         32.6
2     AZ  2016         10.7
3     AR  2016          8.0
4     CA  2016         40.3
..   ...   ...          ...
45    VA  2020          5.9
46    WA  2020         71.5
47    WV  2020          5.5
48    WI  2020          8.1
49    WY  2020         12.4

[250 rows x 3 columns]

In [7]:
emission_df = pd.merge(emission_df, renewables_df, on=["State","year"])

emission_df = emission_df.rename(columns = {"population" : "state_population",
                                           "gdp_per_capita" : "state_gdp_per_capita",
                                           "policies_incentives" : "state_policies_incentives",
                                           "USDA_number_invest_x" : "USDA_energy_invest_unit",
                                           "USDA_number_invest_y" : "USDA_energy_invest_$"})
emission_df

,Facility Id,State,industry_type,year,total_direct_emissions,state_population,state_gdp_per_capita,state_policies_incentives,USDA_energy_invest_unit,USDA_energy_invest_$,%Renewables
0,1004377,TX,Waste Management and Remediation Services,2016,221014.7500,27914064,58033.62062,140,176,83600842.01,13.4
1,1003188,TX,Plastics and Rubber Products Manufacturing,2016,31773.4800,27914064,58033.62062,140,176,83600842.01,13.4
2,1007733,TX,Utilities,2016,22362.8160,27914064,58033.62062,140,176,83600842.01,13.4
3,1002685,TX,Oil and Gas Extraction,2016,265377.7700,27914064,58033.62062,140,176,83600842.01,13.4
4,1005601,TX,Nonmetallic Mineral Product Manufacturing,2016,55858.2400,27914064,58033.62062,140,176,83600842.01,13.4
...,...,...,...,...,...,...,...,...,...,...,...
31020,1003726,VT,Computer and Electronic Product Manufacturing,2020,282381.9113,623347,45959.15277,51,22,113075.8,99.9
31021,1005261,VT,Waste Management and Remediation Services,2020,62845.7000,623347,45959.15277,51,22,113075.8,99.9
31022,1011251,VT,Mining (except Oil and Gas),2020,26424.0980,623347,45959.15277,51,22,113075.8,99.9
31023,1002803,VT,Educational Services,2020,24609.1060,623347,45959.15277,51,22,113075.8,99.9
31024,1006423,VT,Paper Manufacturing,2020,36477.7640,623347,45959.15277,51,22,113075.8,99.9

In [8]:
emission_df.to_csv("ml_database.csv",index=False)